{% extends 'base.html' %} 

{% block applicableactions %} {% endblock applicableactions %} 

{% block canvas %}{% endblock canvas %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="{% url 'internals:common-list' %}">Internals</a></li>
    <li><a href="#">Add User    </a></li>
  </ul>
{% endblock viewname %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class='col-sm-6'>
        {% if message_color == 'green' %}
        <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true" style="font-size:20px">×</span>
           </button>    <strong>Success!</strong> {{message}}
        </div>
        {% elif message_color == 'red' %}
        <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true" style="font-size:20px">×</span>
           </button>    <strong>Error!</strong> {{message}}
         </div>
        {% endif %}
        <div class="form-group row">
            <label for="user-id" class="col-sm-3 col-form-label">User ID</label>
            <div class="col-sm-3">
              <div class="md-form mt-0">
                <label for="user-id" class="col-sm-3 col-form-label">{{user_id}}</label><br><br>
              </div>
            </div>
        </div>
        <div class="form-group row">
          <label for="first-name" class="col-sm-3 col-form-label">Attraction Name</label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <label for="user-id" class="col-sm-3 col-form-label">{{attraction_name}}</label><br><br>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="last-name" class="col-sm-3 col-form-label">Your Rating <span style="color:red;">*</span></label>
          <div class="col-sm-3">
            <div class="md-form mt-0">
              <input type="text" id="rating" name="rating" value="{{rating}}" required="true"><br><br>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <div class="md-form mt-0">
              <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              <a href="../.." class="btn btn-danger" role="button">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock content %}

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      console.log( $(this).val() );
    });
  </script>
{% endblock %}