{% extends "base.html" %}

{% block style %}
<style>
  #tempChart {
    width: 200px;
    height:200px;
    margin: 0px auto;
  }
  #start {
    width: 600px;
    height:200px;
    margin: 0px auto;
    text-align: center;  
  }
  .center {
    margin: 0;
    position: absolute;
    top:25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

</style>
{% endblock style %}

{% block viewname %}
  <ul class="breadcrumb">
    <li><a href="#">Dashboard</a></li>
  </ul>
{% endblock viewname %}

{% block canvas %}
<!--div style="width:80%;height:60vh;"-->
<!--div style="width:100%;height:70vh;">
  <canvas id="myChart"></canvas>
</div-->

{% endblock canvas %}

{% block applicableactions %} 
  <div class="btn-toolbar mb-2 mb-md-0">
    <a style="padding-left:25px;" href="#" data-toggle="modal" data-target="#helpModal"><i class="fa fa-sharp fa-solid fa-question" aria-hidden="true" title="Help" style="font-size: 1.2em;"></i></a>
  </div>
{% endblock applicableactions %}

{% block content %}
  <div>
        <form method="POST">
            {% csrf_token %}
              <div class="row">
  
                <div class="col-sm-1">
                  <label for="user" class="col-sm-3 col-form-label">User</label>
                </div>
  
                <div class="col-sm-2">
                  <div class="md-form mt-0">
                    <select id="id_user" name="user" class="form-control"  required="true"></select>
                  </div>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                  <label for="zero_val" class="col-form-label">Country</label>
                </div>

                <div class="col-sm-2">
                    <div class="md-form mt-0">
                      <select id="id_country" name="country" class="form-control"  required="true"></select>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                    <label for="zip_code" class="col-form-label">Zip Code</label>
                </div>
  
                  <div class="col-sm-1">
                      <div class="md-form mt-0">
                        <input  type="text" id="id_zip_code" name="zip_code" value="{{zip_code}}" required="true">
                      </div>
                  </div>
                
              </div>
              <div class="row"><div class="col-sm-6"> &nbsp;</div></div>
              <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-1">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                </div>
  
              </div>
          </form>
    </div>
  <div>
    <br><br>
  <h3>Your Recommendations</h3>
  <table class="table table-hover table-condensed dt-responsive" id="recommendations-table" style="width:100%">
    <tbody>
      {% for instance in user_recommendations %}
        {% if forloop.counter == 1 %}
        <tr>
          <td scope="row">
            <div class="row">
              <div class='col-sm-1'></div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
            <div class='col-sm-1'></div>
            <div class="card" style="width: 18rem;">
              <img src="{{instance.photo_url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{instance.name}}</h5>
                <p class="card-text">{{instance.types}}</p>
              </div>
              <div class="card-body" style="width: 18rem;">
                <table>
                  <tr>
                    <td><a href="https://www.google.com/maps/place/?q=place_id:{{instance.place_id}}" target="_blank"><img src="https://lh3.googleusercontent.com/9tLfTpdILdHDAvGrRm7GdbjWdpbWSMOa0csoQ8pUba9tLP8tq7M4Quks1xuMQAVnAxVfryiDXRzZ-KDnkPv8Sm4g_YFom1ltQHjQ6Q" class="card-img-top"  style="width: 4rem;"></a>
                    </td>
                    <td>
                        {% if instance.rating == 0 %}
                          <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 1 %}
                          <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 2 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 3 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 4 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 5 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        {% endif %}
                      ({{instance.number_of_ratings}})
                    </td>
                  </tr>
                </table>
                
  
              </div>
            </div>
            </td></tr><tr>
              <td scope="row">
                <div class="row">
                  <div class='col-sm-1'></div>
        {% else %}
        <div class='col-sm-1'></div>
        <div class="card" style="width: 18rem;">
          <img src="{{instance.photo_url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{instance.name}}</h5>
            <p class="card-text">{{instance.types}}</p>
          </div>
          <div class="card-body" style="width: 18rem;">
            <table>
              <tr>
                <td><a href="https://www.google.com/maps/place/?q=place_id:{{instance.place_id}}" target="_blank"><img src="https://lh3.googleusercontent.com/9tLfTpdILdHDAvGrRm7GdbjWdpbWSMOa0csoQ8pUba9tLP8tq7M4Quks1xuMQAVnAxVfryiDXRzZ-KDnkPv8Sm4g_YFom1ltQHjQ6Q" class="card-img-top"  style="width: 4rem;"></a>
                </td>
                <td>
                        {% if instance.rating == 0 %}
                          <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 1 %}
                          <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 2 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 3 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 4 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 5 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        {% endif %}
                  ({{instance.number_of_ratings}})
                </td>
              </tr>
            </table>
          </div>
        </div>
        {% endif %}
  
      {% endfor %}
    </tbody>
  </table>
  <h3>Your Recent Ratings</h3>
  <table class="table table-hover table-condensed dt-responsive" id="ratings-table" style="width:100%">
    <tbody>
      {% for instance in user_ratings %}
        {% if forloop.counter == 1 %}
        <tr>
          <td scope="row">
            <div class="row">
              <div class='col-sm-1'></div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
            <div class='col-sm-1'></div>
            <div class="card" style="width: 18rem;">
              <img src="{{instance.photo_url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{instance.name}}</h5>
                <p class="card-text">{{instance.types}}</p>
              </div>
              <div class="card-body" style="width: 18rem;">
                <table>
                  <tr>
                    <td><a href="https://www.google.com/maps/place/?q=place_id:{{instance.place_id}}" target="_blank"><img src="https://lh3.googleusercontent.com/9tLfTpdILdHDAvGrRm7GdbjWdpbWSMOa0csoQ8pUba9tLP8tq7M4Quks1xuMQAVnAxVfryiDXRzZ-KDnkPv8Sm4g_YFom1ltQHjQ6Q" class="card-img-top"  style="width: 3rem;"></a>
                    </td>
                    <td>
                        {% if instance.rating == 0 %}
                          <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 1 %}
                          <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 2 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 3 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 4 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 5 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        {% endif %}
                      ({{instance.number_of_ratings}})
                    </td>
                  </tr>
                </table>  
              </div>
              <div class="card-body" style="width: 18rem;">
                <table>
                  <tr>
                    <td>Your Rating
                    </td>
                    <td>
                        {% if instance.your_rating == 0 %}
                          <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.your_rating == 1 %}
                          <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.your_rating == 2 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.your_rating == 3 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.your_rating == 4 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.your_rating == 5 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        {% endif %}
                    </td>
                  </tr>
                </table>  
              </div>
            </div>
            </td></tr><tr>
              <td scope="row">
                <div class="row">
                  <div class='col-sm-1'></div>
        {% else %}
        <div class='col-sm-1'></div>
        <div class="card" style="width: 18rem;">
          <img src="{{instance.photo_url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{instance.name}}</h5>
            <p class="card-text">{{instance.types}}</p>
          </div>
          <div class="card-body" style="width: 18rem;">
            <table>
              <tr>
                <td><a href="https://www.google.com/maps/place/?q=place_id:{{instance.place_id}}" target="_blank"><img src="https://lh3.googleusercontent.com/9tLfTpdILdHDAvGrRm7GdbjWdpbWSMOa0csoQ8pUba9tLP8tq7M4Quks1xuMQAVnAxVfryiDXRzZ-KDnkPv8Sm4g_YFom1ltQHjQ6Q" class="card-img-top"  style="width: 3rem;"></a>
                </td>
                <td>
                        {% if instance.rating == 0 %}
                          <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 1 %}
                          <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 2 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 3 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 4 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 5 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        {% endif %}
                  ({{instance.number_of_ratings}})
                </td>
              </tr>
            </table>
          </div>
          <div class="card-body" style="width: 18rem;">
            <table>
              <tr>
                <td>Your Rating
                </td>
                <td>
                    {% if instance.your_rating == 0 %}
                      <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% endif %}
                    {% if instance.your_rating == 1 %}
                      <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% endif %}
                    {% if instance.your_rating == 2 %}
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% endif %}
                    {% if instance.your_rating == 3 %}
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% endif %}
                    {% if instance.your_rating == 4 %}
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                    {% endif %}
                    {% if instance.your_rating == 5 %}
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    {% endif %}
                </td>
              </tr>
            </table>
          </div>
        </div>
        {% endif %}
  
      {% endfor %}
    </tbody>
  </table>
<h3>Most Popular</h3>
  <table class="table table-hover table-condensed dt-responsive" id="popular-table" style="width:100%">
    <tbody>
      {% for instance in popular_ratings %}
        {% if forloop.counter == 1 %}
        <tr>
          <td scope="row">
            <div class="row">
              <div class='col-sm-1'></div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
            <div class='col-sm-1'></div>
            <div class="card" style="width: 18rem;">
              <img src="{{instance.photo_url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{instance.name}}</h5>
                <p class="card-text">{{instance.types}}</p>
              </div>
              <div class="card-body" style="width: 18rem;">
                <table>
                  <tr>
                    <td><a href="https://www.google.com/maps/place/?q=place_id:{{instance.place_id}}" target="_blank"><img src="https://lh3.googleusercontent.com/9tLfTpdILdHDAvGrRm7GdbjWdpbWSMOa0csoQ8pUba9tLP8tq7M4Quks1xuMQAVnAxVfryiDXRzZ-KDnkPv8Sm4g_YFom1ltQHjQ6Q" class="card-img-top"  style="width: 3rem;"></a>
                    </td>
                    <td>
                        {% if instance.rating == 0 %}
                          <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 1 %}
                          <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 2 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 3 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 4 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 5 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        {% endif %}
                      ({{instance.number_of_ratings}})
                    </td>
                  </tr>
                </table>
              </div>
              <div class="card-body" style="width: 18rem;">
                <a class="btn btn-info" href="{% url 'add-user-rating' instance.id user %}">Add Your Rating</a>
              </div>
            </div>
            </td></tr><tr>
              <td scope="row">
                <div class="row">
                  <div class='col-sm-1'></div>
        {% else %}
        <div class='col-sm-1'></div>
        <div class="card" style="width: 18rem;">
          <img src="{{instance.photo_url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{instance.name}}</h5>
            <p class="card-text">{{instance.types}}</p>
          </div>
          <div class="card-body" style="width: 18rem;">
            <table>
              <tr>
                <td><a href="https://www.google.com/maps/place/?q=place_id:{{instance.place_id}}" target="_blank"><img src="https://lh3.googleusercontent.com/9tLfTpdILdHDAvGrRm7GdbjWdpbWSMOa0csoQ8pUba9tLP8tq7M4Quks1xuMQAVnAxVfryiDXRzZ-KDnkPv8Sm4g_YFom1ltQHjQ6Q" class="card-img-top"  style="width: 3rem;"></a>
                </td>
                <td>
                        {% if instance.rating == 0 %}
                          <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 1 %}
                          <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 2 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 3 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 4 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        {% endif %}
                        {% if instance.rating == 5 %}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        {% endif %}
                  ({{instance.number_of_ratings}})
                </td>
              </tr>
            </table>
          </div>
          <div class="card-body" style="width: 18rem;">
            <a class="btn btn-info" href="{% url 'add-user-rating' instance.id user %}">Add Your Rating</a>
          </div>
        </div>
        {% endif %}
  
      {% endfor %}
    </tbody>
  </table>
  <!--div id="tempChart" class='col-sm-12 col-md-6 col-lg-6'>
    <canvas id="myTempChart" margin="auto" position="absolute"></canvas>
  </div>
  <div id="usercharts">
    {% if users %}
      All
      <hr>
      <div class="card-deck">
        <div class="card" style="width:100%;height:28vh;box-shadow: 2px 4px #888888;" class='col-sm-12 col-md-6 col-lg-4'>
          <canvas id="all_classificationChart"></canvas>
        </div>
        <div class="card" style="width:100%;height:28vh;box-shadow: 2px 4px #888888;" class='col-sm-12 col-md-6 col-lg-4'>
          <canvas id="all_distributionChart"></canvas>
        </div>
        <div class="card" style="width:100%;height:28vh;box-shadow: 2px 4px #888888;" class='col-sm-12 col-md-6 col-lg-4'>
          <canvas id="all_statusChart"></canvas>
        </div>
      </div>
      <br><br>
    {% endif %}
    {% for key, value in users.items %}
        {{value.name}}
        <hr>
        <div class="card-deck">
          <div class="card" style="width:100%;height:28vh;box-shadow: 2px 4px #888888;" class='col-sm-12 col-md-6 col-lg-4'>
            <canvas id="{{key}}_classificationChart"></canvas>
          </div>
          <div class="card" style="width:100%;height:28vh;box-shadow: 2px 4px #888888;" class='col-sm-12 col-md-6 col-lg-4'>
            <canvas id="{{key}}_distributionChart"></canvas>
          </div>
          <div class="card" style="width:100%;height:28vh;box-shadow: 2px 4px #888888;" class='col-sm-12 col-md-6 col-lg-4'>
            <canvas id="{{key}}_statusChart"></canvas>
          </div>
        </div>
        <br><br>
    {% endfor %}
  </div-->
</div>
{% endblock content %}

<!-- Help Modal -->
{% block helpmodaltitle %}
  Welcome to PortfolioManager !!!
{% endblock helpmodaltitle %}

{% block helpmodalsummarybody %}
Your consolidated view across all investments and assets. 
Here, you will also track your goal achievement status and characterization of investments for each of the goals with charts.

{% endblock helpmodalsummarybody %}

{% block helpmodalnavigationbody %}
<li>
  <i class="fas fa-tools"></i> - Edit your preferences including currency, desired investment types and timezone.
</li>
<li>
  <i class="fa fa-bell"></i> - Investment/asset alerts
</li>
{% endblock helpmodalnavigationbody %}

{% block helpmodaltasksbody %}
<li>
  Add family members through the Users (<i class="fas fa-users"></i>) page. Transactions accross the app are tied to a user. <strong> (Optional) </strong>
</li>
<li>
  From the goals page (<i class="fas fa-bullseye"></i>), configure a goal to track your transactions against. <strong> (Optional) </strong>
</li>
{% endblock helpmodaltasksbody %}

<script>
  {% block jquery %}
    var investmentdata = {{investment_data|safe}}
    var users = {{users|safe}}
    var all = {{all|safe}}
    var debt_equity_labels = ['Debt' + ' (' + all.debt_per + '%)', 'Equity'+ ' (' + all.equity_per + '%)', 'Gold'+' (' + all.gold_per + '%)', 'Crypto'+' (' + all.crypto_per + '%)', 'Cash'+' (' + all.cash_per + '%)']
    var debt_equity = [all.debt, all.equity, all.gold, all.crypto, all.cash]
    var distribution_vals = all.distrib_vals
    var status_vals = [all.achieved, all.remaining]
    var distribution_labels = all.distrib_labels
    var distribution_colors = all.distrib_colors
    var remaining_per = {{all.remaining_per|safe}}
    var achieve_per = {{all.achieve_per|safe}}
    var status_labels = ['Achieved' + ' (' + achieve_per + '%)', 'Remaining'+ ' (' + remaining_per + '%)']

    var x;
    var user;
    console.log("users")
    console.log(users)
    if (!jQuery.isEmptyObject(users)) {
      setChart('all',debt_equity,distribution_vals, distribution_colors,status_vals, status_labels, debt_equity_labels)
    }
    for (x in users) {
        console.log(x)
        user = users[x]
        console.log(user)
        data = user['data']
        console.log(data)
        debt_equity = [data.debt, data.equity, data.gold, data.crypto, data.cash]
        debt_equity_labels = ['Debt' + ' (' + data.debt_per + '%)', 'Equity'+ ' (' + data.equity_per + '%)', 'Gold'+' (' + data.gold_per + '%)', 'Crypto'+' (' + data.crypto_per + '%)', 'Cash'+' (' + data.cash_per + '%)']
        distribution_vals = data.distrib_vals
        distribution_labels = data.distrib_labels
        distribution_colors = data.distrib_colors
        status_vals = [data.achieved, data.remaining]
        status_labels = ['Achieved' + ' (' + data.achieve_per + '%)', 'Remaining'+ ' (' + data.remaining_per + '%)']
        setChart(x, debt_equity,distribution_vals, distribution_colors, status_vals, status_labels, debt_equity_labels)
    }
    document.getElementById("myChart").style.display="none"
    if (jQuery.isEmptyObject(users)) {
      console.log("no users are present")

      document.getElementById("myChart").style.display="none"
      document.getElementById("myTempChart").style.display="none"
      
    } else {
      console.log("users are present")
      document.getElementById("start").style.display="none"
    
      var canvas = document.getElementById('myTempChart');
      var context = canvas.getContext('2d');
      var start = new Date();
      var lines = 16,  
          cW = context.canvas.width,
          cH = context.canvas.height;

      var draw = function() {
        var rotation = parseInt(((new Date() - start) / 1000) * lines) / lines;
        context.save();
        context.clearRect(0, 0, cW, cH);
        context.translate(cW / 2, cH / 2);
        context.rotate(Math.PI * 2 * rotation);
        for (var i = 0; i < lines; i++) {
          context.beginPath();
          context.rotate(Math.PI * 2 / lines);
          context.moveTo(cW / 10, 0);
          context.lineTo(cW / 4, 0);
          context.lineWidth = cW / 40;
          context.strokeStyle = "rgba(44, 130, 201," + i / lines + ")";
          context.stroke();
        }
        context.restore();
      };
      window.setInterval(draw, 1000 / 30);

      if (jQuery.isEmptyObject(investmentdata)) {
        document.getElementById("myTempChart").style.display="none"
        document.getElementById("tempChart").style.display="none"
        document.getElementById("myChart").style.display="block"
        console.log("error: no investment data")
      } else {
        console.log('received investment data for chart')
        console.log(investmentdata)
        document.getElementById("myTempChart").style.display="none"
        document.getElementById("tempChart").style.display="none"
        document.getElementById("myChart").style.display="block"
        setInvestmentChart(investmentdata)
      }
    }
    document.getElementById("action-month").addEventListener ("click", function(){updateInterval(1)}, false);
    document.getElementById("action-3month").addEventListener ("click", function(){updateInterval(3)}, false);
    document.getElementById("action-6month").addEventListener ("click", function(){updateInterval(6)}, false);
    document.getElementById("action-1year").addEventListener ("click", function(){updateInterval(12)}, false);
    document.getElementById("action-2year").addEventListener ("click", function(){updateInterval(24)}, false);
    document.getElementById("action-3year").addEventListener ("click", function(){updateInterval(36)}, false);
    document.getElementById("action-5year").addEventListener ("click", function(){updateInterval(60)}, false);
    document.getElementById("action-ytd").addEventListener ("click", function(){updateInterval(0)}, false);
    document.getElementById("action-all").addEventListener ("click", function(){updateInterval(-1)}, false);


    function updateInterval(duration) {
      console.log(duration)

      var today = new Date();
      var from_date = "none"
      if (duration == 0) {
        let year = today.getFullYear()
        from_date = [year, 1, 1].join('-')
      }
      if (duration > 0) {
        let year = today.getFullYear()
        let month = today.getMonth() + 1
        while (duration > 0) {
          month = month -1
          if (month == 0) {
            month = 12
            year = year - 1
          }
          duration = duration -1
        }
        from_date = [year, month, 1].join('-')
      }

      Chart.helpers.each(Chart.instances, function(instance){
        console.log(instance);
        if (instance.canvas.id == "myChart") {
          console.log("this is the chart");
            instance.options.scales.xAxes[0].time.min = from_date;
            instance.update();
        }
      });
      return false;
    }

    document.getElementById("export").addEventListener ("click", function(){exportData()}, false);
    function exportData() {
      export_ep = '/api/export/';
      console.log('getting export data')
      $.ajax({
          method:"GET",
          url:export_ep,
          async: false,
          success: function(data){
            console.log(data)
            for (val in data) {
              console.log('returning ', data[val]);
              ret = data[val];
            }
            let blobData = new Blob([JSON.stringify(data)], {
              type: "text/plain"
            });
            let url = window.URL.createObjectURL(blobData);
            //let url = "pathExample/localFile.png"; // LocalFileDownload
            saveFile("portfolio_manager_data.json", url);
            //saveAs( data2blob(ret), "portfolio_manager_data.json" );
          },
          error: function(error_data){
            console.log("error")
            console.log(error_data)
          }
      })
    }

    function saveFile(fileName, urlFile) {
      let a = document.createElement("a");
      a.style = "display: none";
      document.body.appendChild(a);
      a.href = urlFile;
      a.download = fileName;
      a.click();
      window.URL.revokeObjectURL(urlFile);
      a.remove();
    }

    function data2blob(data, isBase64) {
      var chars = "";

      if (isBase64)
        chars = atob(data);
      else
        chars = data;

      var bytes = new Array(chars.length);
      for (var i = 0; i < chars.length; i++) {
        bytes[i] = chars.charCodeAt(i);
      }

      var blob = new Blob([new Uint8Array(bytes)]);
      return blob;
    }

    function setInvestmentChart(investment_data) {
      var ctx = document.getElementById("myChart");
      var config = {
        type:    'line',
        data:    {
          datasets: [
            {
              label: "PPF",
              data: investment_data.ppf,
              fill: false,
              borderColor: '#92993c'
            },
            {
              label: "401K",
              data: investment_data.r401k,
              fill: false,
              borderColor: '#617688'
            },
            {
              label: "EPF",
              data: investment_data.epf,
              fill: false,
              borderColor: '#f15664'
            },
            {
              label: "SSY",
              data: investment_data.ssy,
              fill:  false,
              borderColor: '#f9c5c6'
            },
            {
              label: "FD",
              data: investment_data.fd,
              fill:  false,
              borderColor: '#006f75'
            },
            {
              label: "ESPP",
              data: investment_data.espp,
              fill:  false,
              borderColor: '#DC7633'
            },
            {
              label: "RSU",
              data: investment_data.rsu,
              fill:  false,
              borderColor: '#AA12E8'
            },
            {
              label: "Shares",
              data: investment_data.shares,
              fill:  false,
              borderColor: '#e31219'
            },
            {
              label: "Mutual Funds",
              data: investment_data.mf,
              fill:  false,
              borderColor: '#bfff00'
            },
            {
              label: "Insurance",
              data: investment_data.insurance,
              fill:  false,
              borderColor: '#ede76d'
            },
            {
              label: "Gold",
              data: investment_data.gold,
              fill:  false,
              borderColor: '#ffd700'
            },
            {
              label: "Crypto",
              data: investment_data.crypto,
              fill:  false,
              borderColor: '#000080'
            },
            {
              label: "Cash",
              data: investment_data.cash,
              fill:  false,
              borderColor: '#E3CA95'
            },
            {
              label: "Loan",
              data: investment_data.loan,
              fill:  false,
              borderColor: '#34abeb'
            },
            {
              label: "Total",
              data: investment_data.total,
              fill:  false,
              borderColor: '#99A3A4'
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio:false,
          title:      {
            display: true,
            text:    "Portfolio (Since "+investment_data.start_date+") As on "+investment_data.as_on_date_time
          },
          scales:     {
            xAxes: [{
              type:       "time",
              time:       {
                format: 'YYYY-MM-DD',
                tooltipFormat: 'll'
              },
              scaleLabel: {
                display:     true,
                labelString: 'Date'
              }
            }],
            yAxes: [{
              scaleLabel: {
                display:     true,
                labelString: 'Amount'
              }
            }]
          }
        }
      };
      var myChart = new Chart(ctx,config);
    }

    function setChart(id, debt_equity,distribution_vals, distribution_colors, status_vals, status_labels, debt_equity_labels){
      console.log(id)
      console.log(debt_equity)
      console.log(distribution_vals)
      console.log(distribution_colors)
      console.log(status_vals)

      var ctx = document.getElementById(id+'_classificationChart').getContext('2d');
      var config = {
        type: 'pie',
        data: {
          datasets: [{
            data: debt_equity,
            backgroundColor: [
              '#519463', '#a85b6a', '#ffd700', '#000080', '#E3CA95'
            ],
            label: 'Classification'
          }],
          labels: debt_equity_labels
        },
        options: {
          responsive: true,
          maintainAspectRatio:false,
          title: {
            display: true,
            text: 'Classification'
          }
        }
      };
      var ctx2 = document.getElementById(id+'_distributionChart').getContext('2d');
      var config2 = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: distribution_vals,
            backgroundColor: distribution_colors,
            label: 'Distribution'
          }],
          labels: distribution_labels
        },
        options: {
          responsive: true,
          maintainAspectRatio:false,
          title: {
            display: true,
            text: 'Distribution'
          },
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data) {
                var dataset = data.datasets[tooltipItem.datasetIndex];
                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                  return previousValue + currentValue;
                });
                var currentValue = dataset.data[tooltipItem.index];
                var percentage = Math.floor(((currentValue/total) * 100)+0.5);         
                return data.labels[tooltipItem.index] + ": " + currentValue + ' (' + percentage + "%)";
              }
            }
          }
        }
      };
      var ctx3 = document.getElementById(id+'_statusChart').getContext('2d');
      var config3 = {
        type: 'pie',
        data: {
          datasets: [{
            data: status_vals,
            backgroundColor: [
              '#519463', '#a85b6a'
            ],
            label: 'Status'
          }],
          labels: status_labels
        },
        options: {
          responsive: true,
          maintainAspectRatio:false,
          title: {
            display: true,
            text: 'Goal Status'
          }
        }
      };
      var classificationChart = new Chart(ctx,config);
      var distributionChart = new Chart(ctx2, config2);
      var statusChart = new Chart(ctx3, config3);
    }
  {% endblock jquery %}
  </script>

{% block javascript %}
{% load static %}
    <script src="{% static 'common.js' %}"></script>
    <script>
    set_user_list({{users|safe}}, '{{user|safe}}');
    set_country({{countries|safe}}, '{{country|safe}}')
    </script>
  <script>
      $('#action-week').click(function(e) {
        alert('week');
        e.preventDefault();// prevent the default anchor functionality
        var endpoint = '/user/api/chart/data/'
        $.ajax({
          method: "GET",
          url: endpoint,
          success: function(data){
            console.log(data)
            debt_equity = [data.debt, data.equity]
            distribution_vals = data.distrib_vals
            distribution_labels = data.distrib_labels
            distribution_colors = data.distrib_colors
            status_vals = [data.achieved, data.remaining]
            console.log("debt_equity values")
            console.log(debt_equity)
            console.log("distribution_vals values")
            console.log(distribution_vals)
            console.log("status_vals values")
            console.log(status_vals)
            setChart()
          },
          error: function(error_data){
            console.log("error")
            console.log(error_data)
          }
        })
      });
  </script>
{% endblock javascript %}